@media screen and (max-width:680px){
    .navbar{
      background-color: #fff;
      z-index: 2;
    }
    .nav-link{
    color:black;
    font-size:15px;
   }
    .nav-link:hover{
    color:greenyellow;
   }
   .btns{
    color: black;
    font-size:15px ;
   } 
   .img-two{
    width:20% !important;
    height:10% !important;
   }  
   .main{
    background-position:center top; 
} 
.one{
    margin: 20px;
}
.add-1{
    margin-bottom:15px;
}
}
